<div>
    <a href="https://unleashed.be" target="_blank">
        <img class="unleashed" src="/img/logo-unleashed.svg" alt="Unleashed">
        <img class="brands" src="/img/unleashed-logos.svg" alt="Unleashed Brands" align="right">
    </a>
</div>